<style>
    .item {
        padding: 11px;
        height: auto;
        width: auto;
        text-align: center;
        margin-top: 15px;
        border-radius: 1%;
        border: brown;
        box-shadow: rgb(117, 117, 117) 2px 2px 3px;
        background-color: wheat;
    }
    .item:hover{
        background-color: hsl(34, 88%, 76%);
    }
</style>

<div class="container">
    <br>
    <p>
        Food you need to find : 
        <input type="text" ng-model='Search' placeholder="&#8981; Search..." >
    </p>

    <div class="row" ng-controller="myCTRL">
        <div ng-repeat="item in smo|filter:Search" class="col-sm-5 col-md-3 item">
            <a href="{{item.url}}" target="_blank"><img src="image/D/{{item.image}}"> <br>
                {{item.name|uppercase}}</a>
            <br>

        </div>
    </div>
</div>